{% extends 'display/base.html' %}
{% load static %}
{% block title %} Word cloud {% endblock title %}

{% block style %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="{% static 'lib/cloud.js' %}"></script>
{% endblock style %}

{% block pageButton %}
<div class="change-btn" style="float:right; margin-right: 2%">
  <button onclick="location.href='business-analysis.html'" class="btn" type="button" title="Business Analysis">
    Previous
  </button>

  <button onclick="location.href='business-analysis-3.html'" class="btn" type="button" title="Business Analysis">
    Next
  </button>
</div>
{% endblock pageButton %}

{% block main %}
<div id="setting" style="margin-top:1%">
  <div class="range" style="display: inline; margin-left: 10%">
    <label class="label">Start</label>
    <input type="range" id="startCountRuler" min="0" max="1000" value="0"><label class="rulerLabel"
      id="startCountLabel">0</label>
    <label class="label" style="margin-left: 5%">End</label>
    <input type="range" id="endCountRuler" min="0" max="1000" value="100"><label class="rulerLabel"
      id="endCountLabel">100</label>
    <label style="margin-left: 10%">
      <select id="categoryValue">
        <option value="positive_count">Positive</option>
        <option value="negative_count">Negative</option>
        <option value="total_count">All</option>
      </select>
    </label>
    <label>
      <button id="brushButton">Show</button>
    </label>
  </div>
</div>
<div id="cloud"></div>
</div>
<script>

  d3.json("data/part1/word_cloud.json", function (error1, root1) {
    if (error1) throw error1;
    var partition = d3.layout.partition()
      .value(function (d) {
        return d.value;
      });

    var cloud_svg_location = "#cloud";
    var width = window.innerWidth;
    var height = window.innerHeight * 0.8;
    var cloud_svg = d3.select("#cloud").append("svg")
      .attr("width", width)
      .attr("height", height);

    var temp_data = partition.nodes(root1);
    var feature_data = {};
    var i;
    for (i = 0; i < temp_data[0].length; i++)
      feature_data[temp_data[0][i].name] = temp_data[0][i].values;

    brush_cloud("positive_count");

    d3.select("#startCountRuler").on("change", brush_word);
    d3.select("#endCountRuler").on("change", brush_word);
    d3.select("#brushButton").on("click", brush_word);

    function brush_word() {
      cloud_svg.select(".cloud").remove();
      var categoryValue = d3.select("#categoryValue").property("value");
      var dataName = categoryValue;
      brush_cloud(dataName);
    }

    function brush_cloud(dataName) {
      var word_count = {};
      var startCount = d3.select("#startCountRuler").property("value");
      var endCount = d3.select("#endCountRuler").property("value");
      d3.select("#startCountLabel").text(startCount);
      d3.select("#endCountLabel").text(endCount);
      d3.select("#endCountRuler").property("min", startCount);
      d3.select("#startCountRuler").property("max", endCount);
      var startIndex = startCount;
      var endIndex = endCount;
      var index = 0;
      feature_data[dataName].forEach(function (w) {
        if (index >= startIndex && index <= endIndex)
          word_count[w.word] = w.value
        index += 1;
      });
      draw_cloud(word_count)
      // draw_word(word_count)
    }

    function draw_cloud(word_count) {
      cloud_svg.select(".cloud").remove();

      var fill = d3.scale.category20();
      var word_entries = d3.entries(word_count);
      var xScale = d3.scale.linear()
        .domain([0, d3.max(word_entries, function (d) {
          return d.value;
        })
        ])
        .range([10, 100]);

      d3.layout.cloud().size([width * 6 / 8, height])
        .timeInterval(20)
        .words(word_entries)
        .fontSize(function (d) {
          return xScale(+d.value);
        })
        .text(function (d) {
          return d.key;
        })
        .rotate(function () {
          return ~~(Math.random() * 2) * 90;
        })
        .font("Impact")
        .on("end", draw)
        .start();

      function draw(words) {
        cloud_svg.append("g")
          .attr("class", "cloud")
          .attr("transform", "translate(" + [(width >> 1) - width / 8, height >> 1] + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .style("font-size", function (d) {
            return xScale(d.value) + "px";
          })
          .style("font-family", "Impact")
          .style("fill", function (d, i) {
            return fill(i);
          })
          .attr("text-anchor", "middle")
          .attr("transform", function (d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function (d) {
            return d.key;
          });
        list_words = 30
        cloud_svg.append("g")
          .attr("class", "cloud")
          .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .attr("text-anchor", "middle")
          .attr("transform", function (d, i) {
            return "translate(" + [(width >> 1) - width / 7 + parseInt(i / list_words)  * 150,
             -(height >> 1) + 20 + (i % list_words) * 20] + ")";
          })
          .text(function (d) {
            return d.key;
          });
      }
      d3.layout.cloud().stop();
    }
  });    
</script>
{% endblock main %}